function sendMessage(){
  let input = document.getElementById("userInput");
  let msg = input.value.trim();
  if(msg === "") return;

  let messages = document.getElementById("messages");

  messages.innerHTML += `
    <div class="user"><span>${msg}</span></div>
  `;

  let reply = "Please contact college office for more details.";

  if(msg.toLowerCase().includes("admission"))
    reply = "Admissions are open. Please check eligibility criteria.";
  else if(msg.toLowerCase().includes("fees"))
    reply = "Fees depend on the course. Which course are you interested in?";
  else if(msg.toLowerCase().includes("course"))
    reply = "We offer Engineering, Diploma and Degree courses.";

  setTimeout(()=>{
    messages.innerHTML += `
      <div class="bot"><span>${reply}</span></div>
    `;
    messages.scrollTop = messages.scrollHeight;
  },500);

  input.value="";
  }
